
.quizzes {
  display: grid;

  @media only screen and (max-width: 480px) {
    grid-template-columns:  minmax(0, 1fr);
  }

  @media only screen and (min-width: 481px) and (max-width: 768px) {
    grid-template-columns:  minmax(0, 1fr)  minmax(0, 1fr);
  }

  @media only screen and (min-width: 769px) and (max-width: 1024px) {
    grid-template-columns:  minmax(0, 1fr)  minmax(0, 1fr)  minmax(0, 1fr);
  }

  @media only screen and (min-width: 1025px) and (max-width: 1200px) {
    grid-template-columns:  minmax(0, 1fr)  minmax(0, 1fr)  minmax(0, 1fr);
  }

  @media only screen and (min-width: 1201px) and (max-width: 1450px) {
    grid-template-columns:  minmax(0, 1fr)  minmax(0, 1fr)  minmax(0, 1fr)  minmax(0, 1fr);
  }

  @media only screen and (min-width: 1450px) {
    grid-template-columns:  minmax(0, 1fr)  minmax(0, 1fr)  minmax(0, 1fr)  minmax(0, 1fr)  minmax(0, 1fr);
  }

  column-gap: 15px;
  row-gap: 15px;

  margin-top: 10px;
}
